<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <!-- VUE.JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    

    <div id="app">

        <main>

            <div class="background-green">
            </div>
            <div class="background-grey">
            </div>

            <div class="app-container">

                <div class="left-side">
                    <div class="upper-left flex-space-beetween">

                        <div class="profile-pic flex-profile-name">
                            <img src="img/avatar_io.jpg" alt="">
                            <p>Sofia</p>
                        </div>

                        <div class="profile-icon">
                            <ul class="flex-profile-name">
                                <li><i class="fa-solid fa-rotate-right"></i></li>
                                <li><i class="fa-solid fa-message"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>

                        </div>

                    </div>

                    <div class="lower-left">

                        <div class="notification-slot flex-profile-name">
                            <span id="notification-bell"><i class="fa-solid fa-bell-slash"></i></span>
                            <div class="notification-text">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <span>Attiva notifiche desktop</span>
                            </div>
                        </div>
                        <div class="cerca-chat">
                            <input type="text" placeholder="  &#128269;     Cerca o inizia una nuova chat">

                        </div>

                        <div class="contact-list">
                            <ul >
                                <li v-for="(message, index) in contacts" class="message" @click="changeChatTo(index)" :class="(index === activeIndex) ? 'active' : ''">
                                
                                    <img :src="message.avatar" alt="message.name" class="avatar">
                                    <div class="message-content">
                                        <div class="flex-space-beetween orario">
                                            <p>{{ message.name }}</p>
                                            <span>12.00</span>
                                        </div>
                                        <span>
                                            Ultimo messaggio inviato
                                        </span>
                                    </div>
                                </li>
                            </ul>


                        </div>
                    </div>

                </div>

                <div class="right-side">

                   <div class="upper-right flex-space-beetween">

                        <div class="profile-pic flex-profile-name">
                            <img :src="contacts[activeIndex].avatar" alt="{{ contacts[activeIndex].name }}">
                            <p>{{ contacts[activeIndex].name }}</p>
                        </div>

                        <div class="profile-icon">
                            <ul class="flex-profile-name">
                                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                                <li><i class="fa-solid fa-paperclip"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>

                        </div>

                    </div>

                    <div class="lower-right">
                        <div class="chat-space clearfix">
                            <div v-for="(message, messageIndex) in contacts[activeIndex].messages" :class="{'my-chat': message.status === 'sent', 'my-contact-chat': message.status === 'received'}">
                                {{ message.message }}
                            </div>
                        </div>
                        
                    </div>
                    <div class="text-it">

                        <span><i class="fa-regular fa-face-smile"></i></span>

                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" v-on:keyup.enter="addNewMessage">

                        <span><i class="fa-solid fa-microphone"></i></span>
                    </div>

                </div>






            </div>


        </main>




    </div>




    <script src="script.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script> -->
</body>
</html>