* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    position: relative;
}

.background-green {
    width: 100vw;
    height: 10vh;
    background-color:#009688;
}

.background-grey {
    width: 100vw;
    height: 90vh;
    background-color:#DDDBD1;
}

.app-container {
    width: 80vw;
    height: 90vh;
    background-color: #EAEAEA;
    position: absolute;
    top: 5vh;
    left: 10vw;  
    display: flex;  
}

.left-side {
    width: 30%;
    height: 100%;
    background-color: white;
    border-right: 1px solid #D8DBD6;
}
.right-side {
    width: 70%;
    height: 100%;
    border-right: 1px solid #D8DBD6;
}


.lower-left {
    background-color: white;
   
}

.upper-left {
    border-bottom: 1px solid #D8DBD6;
    background-color: #E9EAEA;
    /* height: 10%; */
}

.upper-right {
    border-bottom: 1px solid #D8DBD6;
  
}

.profile-pic img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0.5rem;
}

li img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0.5rem;
}

.flex-profile-name {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.profile-icon ul li {
    padding-right: 0.75rem;
    color: #B0B0B0;
}

.flex-space-beetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-slot {
    width: 100%;
    height: 60px;
    background-color:#8EDAFC ;
}

#notification-bell i {
    height: 35x;
    width: 35px;
    color: #8EDAFC;
    font-size: 1.2rem;
    margin: auto 0.5rem;
    background-color: white;
    border: 1px solid white ;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}


#notification-bell {
    display: flex;
    align-items: center;

    height: 100%;
}

.notification-text p, span {
    font-size: 0.75rem;
}

.notification-text span {
    color: rgba(0, 0, 0, 0.62);
    text-decoration: underline;
}


.cerca-chat {

display: flex;
justify-content: center;
padding: 5px;
border-bottom: 1px solid #EAEAEA;

}

.cerca-chat input {
    width: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    height: 30px;
    background-color: white;
    
}

.message {
    display: flex;
    align-items: center;
   
}



.message-content {
    margin-left: 0.5rem;
    width: 100%;
}

.message-content span {
    font-size: 0.75rem;
    color: #00000064;
}
.orario span {
    padding-right: 5px;
    font-size: 0.5rem;
}


.lower-right {
    height: 85%;
    width: 100%;
    background-image: url(img/mine.jpg);
    position: relative;
}

.my-contact-chat {
    background-color: white;
    display: inline-block;
    padding: 0.8rem 6rem 0.8rem 0.6rem;
    border-radius: 10px;
    float: left;
    margin: 0.5rem 2rem .8rem 2rem;
    margin-right: 4rem;
    clear: both;


}



.my-chat {
    background-color: #D5F9BA;
    display: inline-block;
    padding: 0.8rem 6rem 0.8rem 0.6rem;
    border-radius: 10px;
    float: right;
    margin: 0.5rem 2rem .8rem 2rem;
    margin-left: 4rem;
    clear: both;
}

.text-it span i {
    font-size: 1.5rem;
    padding: 1rem;
    color: #B0B0B0;
}


.text-it input {
    padding: 0.8rem;
    width: 80%;
    border-radius: 10px;
    border: white;
    
}

.text-it {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearflix::after{
    display: block;
    clear: both;
    content:'';
}


.active {
    background-color:#E8EBEB ;
}